# dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# Firebase
/functions/lib
firebase-debug.log
firebase-debug.*.log
.firebase/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files - NEVER commit secrets
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# PWA
public/sw*
public/swe-worker*
